@import './normalize.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* ================================
  0. Alweys
  1. Header
  2. Banner
  3. Services
  4. works
  5. Like
  6. BLog
  7. Partners
  8. feedback
  9. footer


== ================================ */
// 0. Alweys

body{
  font-family: Montserrat;
  min-width: 320px;;
}
.title{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  &__header{
    position: relative;
    height: 16px;
    color: #555555;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 40px;
    margin-bottom: 20px;
    &::before{
      content: '';

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: #555555;
    }
  }
  &__text{
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
.logo{
  /* Style for "Startup" */
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
}

.wrap{
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;;
}

.btn{
  height: 13px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 27px;
  border: 2px solid #fff;
  text-decoration: none;
  transition: 0.2s;
  &:hover{
    color: #000;
    background-color: #fff;;
  }
}
// 1. Header
.header{
  position: absolute;
  width: 100%;
  z-index: 2;
  &__row{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    list-style: none;
    display: flex;
  }
  &__item{
    margin-left: 20px;
    padding: 0 3px;
    position: relative;
  }
  &__link{
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.35px;
  text-decoration: none;
  &::before{
    content: '';
    position: absolute;
    bottom: -10px;
    opacity: 0;;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background: #fff;
    transition: 0.2s;
  }
  &:hover::before{
    opacity: 1;
    bottom: -0px;;
  }
  }
}



.menu-close{
  display: none;
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: 0.2s;
  &:hover{
    color: rgb(98, 98, 98);
  }
}

.menu-open{
  display: none;
  color: #fff;
  font-size: 26px;
  transition: 0.2s;
  &:hover{
    color: rgb(98, 98, 98);
  }
}

@media (max-width: 760px){
  .is-lock{
    overflow: hidden;
  }
  .menu-close,
  .menu-open{
    display: block;
  }
  
  .menu{
    position: fixed;
    z-index: 999;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 15px 30px 15px 10px;;
    background: #fff;
    transform: translateX(-100%);
    transition: 0.2s;
    overflow: auto;
    &.active{
    transform: none;
    }
    &__list{
      padding-top: 50px;
      display: block;
    }
    &__item{
      margin: 0;
      margin-bottom: 10px;

    }
    &__link{
      color: #000;
      font-weight: bold;
      &::before{
        background: #000;;
      }
    }
  }
}

// 2. Banner

.banner{
  background: url('../image/banner__bg.jpg') center center / cover no-repeat;
  position: relative;
  background-attachment: fixed;
  &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(#000,0.45);
  }
}
.banner-wrap{
  position: relative;
  z-index: 1;
  padding: 100px 0  50px 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.banner__about{
  color: #fff;
  max-width: 600px;
}

.banner__title{
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;

}
.banner__subtitle{
color: #ffffff;
font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 24px;
margin-bottom: 50px;
}


@media (max-width: 700px){
  .banner__title{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .banner__subtitle{
    font-size: 16px;
  }
}

// 3. Services

.services{
  padding: 100px 0 50px 0;
  &__title{
    margin-bottom: 70px;;
  }
  &__row{
    display: flex;
    justify-content: space-between;
  }
}
.services-item{
  text-align: center;
  // max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 60px;;
  &__image{
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
  }
  &__title{
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
  flex: 1 1 auto;
  }
  &__text{
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (max-width: 1100px){
  .services__row{
    display: block;
  }
}

@media (max-width: 480px){
  .services{
    padding: 30px 0;
  }
}

// ABOUT
.about{
  padding: 100px 0;
  background-color: #f8f8f8;
  &__title{
    margin-bottom: 70px;
  }
  .swiper-scrollbar{
    display: none !important;
  }

  .swiper-button{
    background-color: red;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    z-index: 50;
    text-align: center;
    line-height: 42px;
    width: 35px;
    height: 38px;
    cursor: pointer;
    background-color: #555555;
    transition: 0.2s;
    &:hover{
    background-color: #c0301c;
    }
    &--prev{
      left: 10px;
       transform: translateY(-100%) rotate(180deg);
    }
    &--next{
      right: 10px;
    }
  }
}
.about-person{
  padding: 0 10px;
}

.about-text{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-text__column{
  flex: 0 1 553px;
  &:first-child{
    padding-right: 20px;;
  }
}
.about-person{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-person__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-person__header{
  position: relative;
  width: 263px;
  height: 250px;
  transition: all 0.2s easy;
  margin-bottom: 20px;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(#000,1);
    opacity: 0;
    transition: 0.4s;
  }
  &:hover{
    &::before{
     opacity: 0.7;
    }
    .about-person__list{
      bottom: 39px;
      opacity: 1;

    }
  }
}
.about-person__list{
  transition: 0.5s;
  bottom: 10px;
  opacity:0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  position: absolute;
  z-index: 3;
  list-style: none;
  display: flex;
  align-items: center;
  
}
.about-person__item{
  padding: 0 4px;
}
.about-person__icon{
  display: block;
  width: 28px;
  line-height: 32px;
  height: 28px;
  transition: 0.2s;
  &:hover{
    background-color: #c0301c;
  }
}

.about-person__name{
  margin: 0 auto;
  color: #555555;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.about-person__worker{
  color: #555555;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 720px){
  .about-text{
    display: block;
  }
  .about-text__column{
    margin-bottom: 30px;
  }
}

// 4. works 

.works{
  padding: 100px 0;
  overflow: hidden;
}
.works-varibles{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 70px;
  &__item{
    padding: 0 14px;
  }
  &__link{
    position: relative;
    top: 0;
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    transition: 0.2s;
    &:hover{
      top: -5px;
    color: #c0301c;

    }
    &.active{
    color: #c0301c;
    top: 0;
    cursor: default
    }
  }
}

.works-items{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;
}

.work-item--wrapper{
  flex: 0 1 33%;
  padding: 7px;
}
.works-item{
  display: block;
  position: relative;
  &::before{
    transition: 0.4s;;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #c0301c;
    opacity: 0;
  }
  &:hover{
    &::before{
      opacity: 0.7;
    }
    .works-item__about{
      top: 50%;
       opacity: 1;
    }
  }

  &__image{
    z-index: -1;
    width: 100%;
    position: relative;
  }

}
.works-item__about{
  transition: 0.6s;

  position: absolute;
  z-index: 1;
  top: 70%;
  opacity: 0;;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  
}

.works-item__title{
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 7px;;
}
.works-item__subtitle{
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;

}
.works-item__link{
  color: #c0301c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  background: #fff;
  padding: 7px 14px;
}

@media (max-width: 760px){
  .work-item--wrapper{
    flex: 0 1 50%;
  }
}
@media (max-width: 400px){
  .work-item--wrapper{
    flex: 0 1 100%;
  }
  .works-item{
      &::before{
        opacity: 0.7;
      }
      .works-item__about{
        top: 50%;
         opacity: 1;
      }
  }
}

// 4. Like

.like{
  position: relative;
  background: url('../image/like.jpg') center center / cover no-repeat;
  padding: 100px 0;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #c0301c;
opacity: 0.6;
  }
}
.like__title{
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  max-width: 494px;
  margin: 0 auto;
  margin-bottom: 53px;

}
.like-about{
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
}

@media (max-width: 480px){
  .like{
    padding: 30px;
  }
  .like__title{
    font-size: 18px;
  line-height: 1.3em;

  }
}

// Blog 

.blog{
  padding: 95px 0 ;
}

.blog__title{
  margin-bottom: 69px;
}

.blog__items{}

.blog-item{
  display: flex;
  margin-bottom: 38px;
  padding-bottom: 38px;
  border-bottom: 2px solid rgb(238, 238, 238);
  &:last-child{
    margin: 0;
    padding: 0;
    border: none;
  }
  &__image{
    height: 100%;
    flex: 0 1 322px;
  }
}

.blog-item__about{
  padding-left: 40px;
}
.blog-item__header{
  margin-bottom: 23px;
  display: flex;
  align-items: center;
}
.blog-item__date{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #555555;
  flex: 0 0 76px;
  height: 76px;
  text-align: center;
  color: #777777;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-right: 28px;
  strong{
    font-size: 20px;
  }
}

.blog-item__pretitle{
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-weight: bold;
}
.blog-item__subtitle{
    font-size: 13px;
    font-weight: 400;
    color: #777777;
    font-style: italic;

    a{
    color: #c0301c;
    font-weight: bold;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
    }
}

.blog-item__text{
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 34px;
}

.blog-item__link{
  color: #777777;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-decoration: none;
  transition: 0.2s;
  &:hover{
    color: #c0301c;
    transition: 0.2s;
  }
}


@media (max-width: 992px){

  .blog-item{
    flex-direction: column;
  }
  .blog-item__image{
    flex: auto;
    width: 320px;
    max-width: 100%;;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .blog-item__about{
    padding: 0;
  }
  .blog-item__text{
    margin-bottom: 10px;
  }
  .blog-item__date{
    margin-right: 10px;
  }
}
// 7. Partners

.partners{
  padding: 100px 0;
  background-color: #f8f8f8;
}

.partners-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 68px;
  &__item{
    padding: 0 10px;
  }
}

.partners-slider{
  padding-bottom: 40px;
  .partners-slider-pagination{
    position: absolute;
    display: flex;
    justify-content: center;
    
  }
  .swiper-pagination-bullet{
    width: 13px;
    height: 13px;
    margin: 0 7px !important;
  }
  .swiper-pagination-bullet-active{
    background-color: #c0301c !important;
  }
}
.partners-slider__slide{
  text-align: center;
  max-width: 783px;
  margin: 0 auto;
}

.partners-slider__text{
  color: #555555;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 26px;
  font-style: italic;
}
.partners-slider__author{
  color: #555555;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 480px){

  .partners{
    padding: 30px 0;
  }
  .partners-header{
    display: none;
  }
  .partners-slider__text{
    font-size: 14px;
    margin-bottom: 14px;
  }
}

// 8.feedback

.feedback{
  padding: 100px 0;
  overflow: hidden;
}
.feedback__title{
  margin-bottom: 71px;
}

.feedback__row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.feedback-navigation{
  flex: 0 0 255px;
  margin: 20px;
}
.feedback-navigation__item{
  display: flex;
  align-items: flex-start;
  margin-bottom: 37px;
}

.feedback-navigation__image{
  margin-right: 14px;
  width: 12px;
  height: 17px;
}
.feedback-navigation__about{}
.feedback-navigation__title{
  color: #555555;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.feedback-navigation__link{
  display: block;
  color: #555555;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.feedback-form{
  flex: 0 1 730px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.feedback-form__item{
  padding: 10px 15px;

  input, textarea{
    width: 100%;
    padding: 17px;
    border: 1px solid #555555;
    color: #555555;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    outline: none;
    resize: none;
    &:focus{
      border-color: #c0301c;
      &::placeholder{
        font-size: 0;;
      }
    }
    &::placeholder{
      color: #555555;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }
  }
  textarea{
    min-height: 105px;
  }
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4){
    flex: 0 0 50%;
  }
  &:nth-child(5){
    flex: 0 0 100%;
  }
}
.feedback-from__btn{
  color: #555555;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  background: none;
  border: 1px solid #555555;
  padding: 14px 20px;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
  margin-right: 38px;
  margin-bottom: 10px;
  &:hover{
    background: #555555;
    color: #fff;
  }
}
.feedback-from__text{
  height: 12px;
  color: #555555;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  &::before{
    content: '*';
    color: #c0301c;
    margin-right: 5px;
  }
}

@media (max-width: 992px){
  .feedback-form__footer{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 762px){
  .feedback{
    padding: 30px 0;
  }
  .feedback__row{
    flex-direction: column-reverse;
  }
  .feedback-navigation, .feedback-form{
    flex: auto;
  }
  .feedback-form{
    margin-bottom: 70px;;

  }
  .feedback__title{
    margin-bottom: 20px;
  }
  .feedback-from__btn{
    margin-right: 0;
  }
}
@media (max-width: 380px){

  .feedback-form{
    display: block;
  }
  .feedback-navigation{
    margin: 0;
  }
}

  // 9. footer 

.footer{
  padding: 100px 0;
  background-color: #c0301c;
  color: #fff;
  text-align: center;
} 
.footer-header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-bottom: 30px;
  margin-bottom: 30px;
  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: #ffffff;
  }
  &__item{
    margin: 0 7px;
  }
}
.footer__text{
  max-width: 500px;
}

@media (max-width: 760px){
  .footer{
    padding: 30px 0;
  }
}
