// ======= DELETE =========
@import './normalize.scss';

h1,h2,h3,h4,h5 {
  margin: 0
}
* {
  box-sizing: border-box;
}
body{
  font-family: Roboto, sans-serif;
}
.container{
  max-width:  1220px;
  padding: 0 10px;
  margin: 0 auto;
}
// ======= /DELETE =========


.service{
  background: #13012c;
  color: #fff;
  padding: 50px 0;
  &-title{
    max-width: 780px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 120px;
    font-size: 40px;
    text-transform: uppercase;
  }
}
// SERVICE_TYPE
.service-type{
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  &__input{
    display: none;
    &:checked + .service-type__body{
      background: #893be7;
      opacity: 1;
      cursor: default;
    }
  }
  &__body{
    display: flex;
    align-items: center;
    padding: 13px 20px;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
      opacity: 0.7;
    }
   
  }
  &__image{
    max-width: 30px;
  }
  &__text{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    padding-left: 5px;
  }
}

.service-type-item{
  border: 1px solid #fff;
  border-right: none;
  transition: 0.2s;
  overflow: hidden;
  &:first-child{
    border-radius: 20px 0 0 20px;
  }
  &:last-child{
    border-radius: 0 20px 20px 0;
    border-right: 1px solid #fff;
  }
}

.service-cost{
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100px;
  overflow: auto;
  padding: 0 10px;

  &__wrapper{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 100%;;
    
    .service-cost-item:first-child .service-cost-item__dot{
      &::before{
        left: 10px 
      }
    }
    .service-cost-item:last-child .service-cost-item__dot{
      &::before{
       display: none;
      }
    }
  }
}

.service-cost-item{
  padding: 0 20px;
  position: relative;
  &:first-child{
    padding-left: 0;
  }
  &:last-child{
    padding-right: 0;
  }

  &__input{
    display: none;
    &:checked + .service-cost-item__content{
     font-size: 16px;
     cursor:  default;

     .service-cost-item__dot{
       
       span{
        border: 6px solid #ffff;
       width: 12px;
       height: 12px;
       }  
     }
    }
  }
  &__content{
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    text-align: center;
  }
  &__title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    text-transform: uppercase;
    transform: rotate(40deg);
    margin-bottom: 10px;
    font-size: 14px;;
  }
  &__dot{
    // position: relative;
    z-index: 20;
    span{
      position: relative;
      box-sizing: content-box;
      display: block;
      border: 5px solid #ffff;
      border-radius: 50%;
      background: #ef5d08;
      width: 8px;
      height: 8px;
      margin: 0 auto;
      transition: 0.2s;
      z-index: 2;
    }

    &::before{  
      content: '';
      position: absolute;
      top: 50%;
      left: 10px;
      right: -10px;
      width: 155%;;
      height: 2px;
      background-color: #fff;
      transform: translateY(580%);
    }
    
  }
}

@media (max-width: 960px){
  .service-title{
    font-size: 25px;
    margin-bottom: 40px;
  }
  .service-type{
  margin-bottom: 30px;
  }
}

@media (max-width: 480px){
  .service{
    padding: 20px 0;
  }
  .service-title{
    font-size: 16px;
    margin-bottom: 40px;
  }
  .service-type{
  margin-bottom: 30px;
  }
  .service-type__body{
    padding: 9px;
  }
  .service-type__text{
    font-size: 14px;
  }
}

